*{
    background-color: #000000;
    font-family: 'open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
P{
    text-decoration: none;
    color:#a788ab;
}
div{
    color: #A2C8CC;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #9bfae0;
    background-color: #3582ab;
    border-radius: 15px;
    border: solid 2px #9bfae0;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #a788ab;
}